doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    
    h1 Sevii - a web site for interesting things and ideas
    #container.col
      p What is interesting today?
      p.
        In our short time existence we try to 
        experiance as much as we can. 

      p If you were going to create an intelligent being from scratch what would it be like? What drives would it have? Would it have subconcious desires for sustanance or would it have alerts or something like a fuel gage in a car?
      img(src="public/images/bird.png" alt="picture of a bird")